<div class="navbar border">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
     <img src="../assets/logo-removebg-preview.png" alt="" class="img-1">
      <a class="navbar-brand" href="#">Hotel <span class="text-primary fw-semibold">Paradise</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">OUR HOTELS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">OFFERS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">DINING</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ">WEEDING</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">MANAGE BOOKING</a>
          </li>
          <div class="text-end">
            <li class="nav-item">
              <a class="nav-link disabled fw-semibold">SING IN</a>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </nav>
</div>